
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>应用—产品系统—分类管理</title>
    <link href="~/Content/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/tai.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>


</head>
<body layadmin-themealias="default" class="layui-layout-body" style="">
    <div id="LAY_app" class="layadmin-tabspage-none">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">谷程后台</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">商品管理</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>
                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            贤心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退了</a></li>
                </ul>
            </div>

            <!-- 侧边菜单 -->
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu" lay-shrink="all">
                        <li class="layui-nav-item" data-jump="" data-name="">
                            <a href="javascript:;" lay-direction="2" lay-tips="主页">
                                <i class="layui-icon layui-icon-home"></i>
                                <cite>主页</cite>
                            </a>
                        </li>
                        <li class="layui-nav-item" data-jump="" data-name="app">
                            <a href="javascript:;" lay-direction="2" lay-tips="应用"> <i class="layui-icon layui-icon-app"></i> <cite>应用</cite> <span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd data-jump="" data-name="content">
                                    <a href="javascript:;">内容系统<span class="layui-nav-more"></span></a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="list">
                                            <a href="javascript:;" lay-href="app/content/list">文章列表</a>
                                        </dd>
                                        <dd data-jump="" data-name="tags">
                                            <a href="javascript:;" lay-href="app/content/tags">分类管理</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd data-jump="" data-name="forum">
                                    <a href="javascript:;">产品系统<span class="layui-nav-more"></span></a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="list">
                                            <a href="javascript:;"
                                               lay-href="app/forum/list">帖子列表</a>
                                        </dd>
                                        <dd data-jump="" data-name="replys">
                                            <a href="javascript:;" lay-href="app/forum/replys">回帖列表</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd data-jump="" data-name="message"><a href="javascript:;" lay-href="app/message/">图片系统</a></dd>
                                <dd data-jump="" data-name="message"><a href="javascript:;" lay-href="app/message/">广告系统</a></dd>
                                <dd data-jump="" data-name="message"><a href="javascript:;" lay-href="app/message/">营销系统</a></dd>
                                <dd data-jump="app/workorder/list" data-name="workorder">
                                    <a href="javascript:;" lay-href="app/workorder/list">留言系统</a>
                                </dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item" data-jump="" data-name="user">
                            <a href="javascript:;" lay-direction="2"
                               lay-tips="用户">
                                <i class="layui-icon layui-icon-user"></i> <cite>用户</cite> <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-jump="user/administrators/list" data-name="administrators-list">
                                    <a href="javascript:;" lay-href="user/administrators/list">后台管理员</a>
                                </dd>
                                <dd data-jump="user/administrators/role" data-name="administrators-rule">
                                    <a href="javascript:;"
                                       lay-href="user/administrators/role">角色管理</a>
                                </dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item" data-jump="" data-name="set">
                            <a href="javascript:;" lay-direction="2" lay-tips="设置">
                                <i class="layui-icon layui-icon-set"></i> <cite>设置</cite> <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd class="layui-nav-itemed" data-jump="" data-name="system">
                                    <a href="javascript:;">
                                        栏目设置<span class="layui-nav-more"></span>
                                    </a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="website">
                                            <a href="javascript:;"
                                               lay-href="set/system/website">网站设置</a>
                                        </dd>
                                        <dd data-jump="" data-name="email">
                                            <a href="javascript:;" lay-href="set/system/email">邮件服务</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed" data-jump="" data-name="system">
                                    <a href="javascript:;">
                                        系统设置<span class="layui-nav-more"></span>
                                    </a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="website">
                                            <a href="javascript:;"
                                               lay-href="set/system/website">网站设置</a>
                                        </dd>
                                        <dd data-jump="" data-name="email">
                                            <a href="javascript:;" lay-href="set/system/email">邮件服务</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed" data-jump="" data-name="system">
                                    <a href="javascript:;">
                                        友情链接设置<span class="layui-nav-more"></span>
                                    </a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="website">
                                            <a href="javascript:;"
                                               lay-href="set/system/website">网站设置</a>
                                        </dd>
                                        <dd data-jump="" data-name="email">
                                            <a href="javascript:;" lay-href="set/system/email">邮件服务</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed" data-jump="" data-name="user">
                                    <a href="javascript:;">
                                        底部信息设置<span class="layui-nav-more"></span>
                                    </a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="info">
                                            <a href="javascript:;"
                                               lay-href="set/user/info">基本资料</a>
                                        </dd>
                                        <dd data-jump="" data-name="password">
                                            <a href="javascript:;"
                                               lay-href="set/user/password">修改密码</a>
                                        </dd>
                                    </dl>
                                </dd>
                                <dd class="layui-nav-itemed" data-jump="" data-name="user">
                                    <a href="javascript:;">
                                        我的设置<span class="layui-nav-more"></span>
                                    </a>
                                    <dl class="layui-nav-child">
                                        <dd data-jump="" data-name="info">
                                            <a href="javascript:;"
                                               lay-href="set/user/info">基本资料</a>
                                        </dd>
                                        <dd data-jump="" data-name="password">
                                            <a href="javascript:;"
                                               lay-href="set/user/password">修改密码</a>
                                        </dd>
                                    </dl>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                    <span class="layui-nav-bar" style="top: 252px; height: 0px; opacity: 0;"></span>
                </div>

            </div>


            <!-- 页面标签 -->
            <script type="text/html" template="" lay-done="layui.element.render('nav', 'layadmin-pagetabs-nav')">
                {{# if(layui.setter.pageTabs){ }}
                <div class="layadmin-pagetabs" id="LAY_app_tabs">
                    <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                    <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                    <div class="layui-icon layadmin-tabs-control layui-icon-down">
                        <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                            <li class="layui-nav-item" lay-unselect>
                                <a href="javascript:;"></a>
                                <dl class="layui-nav-child layui-anim-fadein">
                                    <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                    <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                    <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                        <ul class="layui-tab-title" id="LAY_app_tabsheader">
                            <li lay-id="/"><i class="layui-icon layui-icon-home"></i></li>
                        </ul>
                    </div>
                </div>
                {{# } }}
            </script>


            <!-- 主体内容 -->
            <div class="layui-body" id="LAY_app_body">
                <div class="layadmin-tabsbody-item layui-show">
                    <div class="layui-card layadmin-header">
                        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
                            <a lay-href="">应用</a><span lay-separator="">/</span>
                            <a><cite>产品系统</cite></a><span lay-separator="">/</span>
                            <a><cite>产品类型</cite></a>
                        </div>
                    </div><div class="layui-fluid">
                        <div class="layui-card">
                            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">ID</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">用户名</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">邮箱</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">性别</label>
                                        <div class="layui-input-block">
                                            <select name="sex">
                                                <option value="0">不限</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select><div class="layui-unselect layui-form-select"><div class="layui-select-title"><input type="text" placeholder="请选择" value="不限" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i></div><dl class="layui-anim layui-anim-upbit"><dd lay-value="0" class="layui-this">不限</dd><dd lay-value="1" class="">男</dd><dd lay-value="2" class="">女</dd></dl></div>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="LAY-user-front-search">
                                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="layui-card-body">
                                <div style="padding-bottom: 10px;">
                                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
                                    <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                                </div>


                                <table class="layui-hide" id="test"></table>








                            </div>
                        </div>
                    </div>




                </div>
            </div>

            <!-- 辅助元素，一般用于移动设备下遮罩 -->
            <div class="layadmin-body-shade" layadmin-event="shade"></div>

        </div>
    </div>
    <script src="~/Content/layui/layui/layui.js"></script>
    <script>
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'/demo/table/user/'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {field:'id', title: 'ID', sort: true}
                ,{field:'username', title: '用户名'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'sex', title: '性别', sort: true}
                ,{field:'city', title: '城市'}
                ,{field:'sign', title: '签名'}
                ,{field:'classify', title: '职业', align: 'center'} //单元格内容水平居中
                ,{field:'experience', title: '积分', sort: true, align: 'right'} //单元格内容水平居中
                ,{field:'score', title: '评分', sort: true, align: 'right'}
                ,{field:'wealth', title: '财富', sort: true, align: 'right'}
            ]]
        });
    });
    </script>




    <style id="LAY_layadmin_theme">
        .layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after, .layadmin-pagetabs .layui-tab-title li.layui-this:after, .layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
            background-color: #20222A !important;
        }

        .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a {
            background-color: #009688 !important;
        }

        .layui-layout-admin .layui-logo {
            background-color: #20222A !important;
        }
    </style>
</body>
</html>
